<section id="whoweare" class="section whoweare">
    <div class="container">
      <!-- <div class="col-md-6"><img [src]="authors" /></div>   -->
      <div class="col-md-12">
        <div class="content">
          <div class="creicon"><img [src]="creaxis_icon" /></div>
          <h1 class="grey700 uppercase">About <span class="amber400">the Authors</span></h1>
          <p>Creaxis is a design-centric brand consultancy firm. We create content that adds value to the brand experience in both the physical and digital worlds. Having worked with top international brands for nearly two decades, we consistently evolve along with the technology and cultural expectations that shape effective communications.</p>
      </div>
      </div>
    </div>
</section>