<section id="hero" class="hero-banner section">
    <div class="hero-wrapper">
      <div class="hero-content">
        <div class="container text-left">
            <h1 class="content-title"><span class="amber400">Success</span> is a story</h1>
            <p class="content-desc">We can help you tell yours.</p>
        </div>
      </div>
      <div class="video-wrapper">
        <video autoplay loop muted class="video"
          src="../assets/images/CreaxisOnlineVideoReel2017_1.mp4">
        </video>
      </div>
    </div>
  </section>