<section id="contact" class="contact section">
    <div class="container grid">
        <!-- <div class="creicon-dark marginTop-20"><img [src]="creaxis_icon" /></div>
        <h1><span class="grey200">CONTACT</span> <span class="amber400">US</span></h1> -->
        <div class="item info">
            <a href="tel:+65 6296 0170">
                <i class="fa fa-phone info-cell" aria-hidden="true"></i>
                <p class="info-cell"><a>+65 6296 0170</a> </p>
            </a>
            <a href="mailto:hello@creaxisdesign.com">
                <i class="fa fa-envelope info-cell" aria-hidden="true"></i>
                <p>hello@creaxisdesign.com </p>
            </a>            
        </div>
        <div class="item social">
            <a href="https://www.facebook.com/creaxis" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/creaxis.sg/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.behance.net/CreaxisDesign" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a>
        </div>        
    </div>      
</section>