<header class="navbar navbar-creaxis navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-item-brand">
          <a routerLink="/home" class="navbar-brand">
            <img [src]="brand_inverse" />
          </a>
        </div>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item-a"><a routerLink="/home" fragment="whoweare">Who We Are </a></li>
          <li class="nav-item-a"><a routerLink="/home" fragment="whatwedo">What We Do</a></li>
          <li class="nav-item-a"><a routerLink="/home" fragment="works">Works</a></li>
          <li class="nav-item-a"><a routerLink="/home" fragment="clients">Clients</a></li>
          <li class="nav-item-a"><a routerLink="/projects" fragment="projects">Case Studies</a></li>
          <!-- <li class="nav-item-a"><a routerLink="/home" fragment="contact">Contact</a></li> -->
        </ul>
      </nav><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </header>