<section id="whatwedo" class="bg-img section" [ngStyle]="{'background-image' : 'url(' + whatwedo_img + ')'}">
    <div class="bg-mask">
        <div class="container">
        <div class="col-md-6">
            <div class="creicon-dark marginTop-20"><img [src]="creaxis_icon" /></div>
            <h1 class="uppercase"><span class="grey200">We</span> <span class="amber400">Tell Stories</span></h1>
            <p class="grey300">Our forte is listening, understanding and creating brand solutions that further empower the success of our clients. The Creaxis portfolio includes extensive online creative content, such as videos, infograhics, and 3D animation. We have a long history of creating traditional above- and below-the-line materials, including TV &amp; radio spots, print &amp; press ads, brochures, in-store display materials, marketing tools and press kits. Thus do we shape the narrative—the story of your success.</p> 
        </div>
        <div class="col-md-6">
            <div class="quadrant">
                <div class="item">
    
                        <i class="fa fa-diamond" aria-hidden="true"></i>
                        <p>BRAND SOLUTION</p>
    
                </div>
                <div class="item">
    
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                        <p>DIGITAL CONTENT</p>
    
                </div>                        
                <div class="item">
    
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    <p>ATL &amp; BTL MARKETING</p>
    
                </div>
                <div class="item">
    
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                        <p>MOTION GRAPHICS</p>
    
                </div>
            </div>
        </div>      
        </div>
    </div>
</section>